<div class="card">
  <% if photographer.photographs[0] %>
    <%= cl_image_tag photographer.photographs[0].photo.key %>
    <% else %>
    <%= image_tag("https://picsum.photos/id/#{rand(1000)}/300/200") %>
  <% end %>
  <div class="card-infos">
    <div>
      <h2><%= photographer.name %></h2>
      <p><%= photographer.location %></p>
    </div>
    <h2 class="card-pricing"><%= photographer.price %> €</h2>
    <!-- <img src="https://kitt.lewagon.com/placeholder/users/random" class="card-avatar avatar-bordered" /> -->
    <%= cl_image_tag photographer.user.photo.key, height: 40, width: 40, crop: :thumb, gravity: :face, class: "card-avatar avatar-bordered" %>
  </div>
</div>

