<%= simple_form_for(photographer) do |f| %>
  <%= f.input :name %>
  <%= f.input :location %>
  <%= f.input :description %>
  <%= f.input :price %>
  <div>
    <%= f.button :submit, class: "btn btn-dark" %>
    <!-- Think where you want the Cancel to redirect to -->
    <%= link_to 'Cancel', profile_path, class: "btn btn-outline-dark ml-3"%>
  </div>
<% end %>
