<div class="banner_profile" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1536632087471-3cf3f2986328?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1655&q=80')"></div>
<div class="overall-container" style="max-width: 1350px; margin: 0 auto;">
  <%= cl_image_tag @photographer.user.photo.key, height: 150, width: 150, crop: :thumb, gravity: :face, class: "avatar-xl avatar_profile" %>
  <!-- <img src="https://kitt.lewagon.com/placeholder/users/random" class="avatar-xl avatar_profile" /> -->
  <div class="container" id="content_profile"> <!-- margin-top-negative -->
    <div class="row">
      <div class="col-8">
        <div>
          <h1><%= @photographer.name %></h1>
          <p><i class="fa fa-map-pin mr-2" aria-hidden="true"></i><%= @photographer.location %></p>
        </div>

        <div>
          <!-- <h4>A bit more about this photographer...</h4> -->
          <p><%= @photographer.description %></p>
        </div>
      </div>

      <div class="col-4">
        <div>
          <% if current_user == @photographer.user %>
             <%= render 'photographs/new', photographer: @photographer, photograph: @photograph  %>
            <% else %>
              <h5 class="mb-3">Book this photographer!</h5>
              <h6 class="mb-3"><strong>Price <%= @photographer.price %> €/hour</strong></h6>
              <%= render 'bookings/new', photographer: @photographer, booking: @booking %>
          <% end %>
        </div>

        <div>
          <div class="flex-align mt-4">
            <h6 class="no-mb">Share</h6>

            <div class="flex">
              <i class="fab fa-facebook fa-2x mr-2"></i>
              <i class="fab fa-twitter fa-2x mr-2"></i>
              <i class="fab fa-pinterest fa-2x mr-2"></i>
              <i class="fa fa-envelope-square fa-2x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="column">
        <% if @photographer.photographs[0] %>
          <%= cl_image_tag @photographer.photographs[0].photo.key %>
        <% end %>
        <% if @photographer.photographs[1] %>
          <%= cl_image_tag @photographer.photographs[1].photo.key %>
        <% end %>
      </div>
      <div class="column">
        <% if @photographer.photographs[2] %>
          <%= cl_image_tag @photographer.photographs[2].photo.key %>
        <% end %>
        <% if @photographer.photographs[3] %>
          <%= cl_image_tag @photographer.photographs[3].photo.key %>
        <% end %>
      </div>
      <div class="column">
        <% if @photographer.photographs[4] %>
          <%= cl_image_tag @photographer.photographs[4].photo.key %>
        <% end %>
        <% if @photographer.photographs[5] %>
          <%= cl_image_tag @photographer.photographs[5].photo.key %>
        <% end %>
      </div>
    </div>
  </div>
</div>





